@media screen and (min-width: 1100px) {

  .background-square {
    width: 24vw;
    height: 24vw;
  }

  .profile-pic {
    height: 30vw;
  }

  .text-2 h1 {
    transform: translateX(-3px);
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1100px) {
  /* SECTION */
  h1 {
    font-size: 32px;
  }
  /* NAVBAR */
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  /* PROFILE */
  #profile {
    display: flex;
    justify-content: center;
    flex-direction :column-reverse;
    gap: 2rem !important;
    
  }

  .background-square {
    width: 250px;
    height: 250px;
  }
  .profile-pic {
    height: 300px;
  }
  .textprofile-container {
    align-self: center;
    text-align: center;
    display: block;
  }
  .text-1, .text-3 {
    font-size: 1.5rem;
  }
  .text-2 h1 {
    font-size: 2rem;
  }
  .text-3 {
    text-align: center;
    margin: 15px 0 30px 0;
    display: block;
  }
  .typing::before {
    content: "\A";
    white-space: pre; 
  }
  .btn-container { 
  justify-content: center;
  }  

  /* ABOUT */
  .section-container {
    flex-direction: column;
  }
  .about_left,
  .about_right {
    flex: 0 0 100%;
  }
  .about_right {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .about-pic {
    width: 250px;
    border-radius: 1rem;
  }
  /* SKILLS */
  #skills .details-container {
    margin-top: 2rem;
  }
  article {
    align-items: center;
    text-align: center;
    width: 5rem;
  }

  /* CONTACT */
  .contact-info-upper-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  section {
    margin-bottom: 5vh;
    padding-top: 10vh;
    height: fit-content;
  }
  nav {
    height: 10vh;
  }
  /* NAVBAR */
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .menu-links li a{font-size: 1rem;}

  /* PROFILE */
  .background-square {
    width: 200px;
    height: 200px;
  }
  .profile-pic {
    height: 250px;
  }
  .text-2 h1 {
    font-size: 2rem;
  }
  .text-1, .text-3 {
    font-size: 1rem;;
  }

  /* ABOUT */
  .section-container {
    flex-direction: column;
  }
  .about-pic {
    width: 250px;
  }
  .about_right {
    display: block;
  }

  /* SKILLS */
  article {
    font-size: 1rem;
  }
  #skills .details-container {
    width: 100%;
  }
  article h3 {
    font-size: .8rem;
  }
  /* PROJECTS */
  #projects img {
    border-radius: 2rem;
    width: 70vw;
    max-width: 20rem;
    height: auto;
  }
  /* CONTACT */
  #contact p {
    font-size: 1rem;
  }
  
}