@media screen and (min-width: 1100px) {
  /* PROFILE */
  .image-container {
    margin-left: 20rem;
  }
  .profile-background-square {
    width: 21rem; height: 21rem;
  }
  .profile-picture-image {
    height: auto; width: 21rem !important;
  }
  .btn:nth-of-type(2) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  h1, .logo {
    font-size: var(--font-size-large);
  }
  .flex-wrapper {
    padding: 0 4rem 10vh 4rem;
  }
  /* NAVBAR */
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  /* PROFILE */
  #profile .flex-wrapper {
    height: calc(50vh + 25rem);
    flex-direction: column-reverse;
    gap: 2vh;
  }
  .image-container {
    height: fit-content; align-items: end;
  }
  .profile-background-square {
    width: 16rem;
    height: 16rem;
  }
  .profile-picture-image {
    width: 16rem !important;
    height: auto;
  }
  .text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .text-1, .text-3 {
    font-size: var(--font-size-regular)
  }
  .typing::before {
    content: "\A";
    white-space: pre; 
  }
  .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  /* ABOUT */
  .column-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .about-left img{
    height: auto; width: 20rem !important;
    border-radius: 20px;
  }
  .about-right {
    gap: 2rem;
  }
  .about-right .text-container p {
    text-align: center;
  }
  /* SKILLS */
  .article-container article {
    width: 6rem;
  }
  /* PROJECTS */
  .project-card {
    width: 100%;
    padding: 1rem;
  }
  #project-cards-container img {
    border-radius: 1.4rem;
    max-width: 14rem;
    margin: 1rem;
  }
  /* CONTACT */
  .contact-info-container {
    flex-wrap: wrap;
  }
  .contact-info {
    width: 100%;
    flex-direction: column;
  }
  .contact-info a {
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    margin: 0;
  }
  .flex-wrapper {
    padding: 0 2rem 10vh 2rem;
  }
  /* PROFILE */
  #profile .flex-wrapper {
    height: calc(40vh + 30rem);
    padding-top: 10vh;
  }
  .image-container {
    margin: 2rem 0;
  }
  .profile-background-square {
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
  }
  .profile-picture-image {
    width: 12rem !important;
    height: auto;
  }
  /* ABOUT */
  .about-left img{
    height: auto; width: 12rem !important;
  }
  .about-right .details-container {
    gap: .5rem;
  }
  .about-right .details-container img {
    width: 10rem;
  }
  /* SKILLS */
  .skill-card {
    width: 100%;
  }
  .article-container article {
    width: 5rem;
    font-size: smaller;
  }
  /* PROJECTS */
  #project-cards-container {
    flex-direction: column;
    width: 100%;
  }
  .project-card {
    width: 100%;
    padding: 1rem;
  }
  #projects img {
    border-radius: 2rem;
    width: 64vw;
    max-width: 20rem;
    height: auto;
  }
  /* CONTACT */
  .contact-info-container {
    width: 100%;
    padding: 0;
  }
  .contact-info{
    gap: 1rem;
    margin: 1rem 0;
  }
  .contact-info a p {
    font-size: calc(var(--font-size-regular) - .2rem);
  }
}
@media screen and (max-width: 340px) {
  .flex-wrapper {
    padding: 0 1rem 10vh 1rem;
  }
  .menu-links {
    right: -40%;
  }
  .contact-info a p {
    font-size: var(--font-size-small);
  }
}