:root {
  --color-black: black;
  --color-white: #FEFEFE;
  --color-white-2: #FAFAFA;
  --color-gray: rgb(40, 40, 40);
  --color-light-gray: rgb(85, 85, 85);

  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-regular: 1.2rem;
  --font-size-small: .8rem;

  --transition-general: all 0.3 ease-in-out;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-white);
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav, section {
  width: 100%;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: auto; height: 100%;
  padding: 0 6rem;
  flex: auto;
  padding-bottom: 20vh;
  /* recheck these */
  justify-content: space-between;
  flex-direction: column;

}
/* >>NAVBAR<< */
nav {
  display: flex;
  position: fixed;
  height: 10vh;
  z-index: 9999;
  background: rgba(255, 254, 254, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
}
nav .flex-wrapper {
  flex-direction: row;
  padding-bottom: 0;
}
.logo {
  font-size: var(--font-size-large);
  font-weight: bold;
}
.logo a:hover {
  cursor: default;
  text-shadow: none;
}
a {
  color: var(--color-black);
  text-decoration: none;
  text-decoration-color: var(--color-white);
}
a:hover {
  text-shadow: 0 0 10px var(--color-black);
  color: var(--color-gray);
}
p {
  color: var(--color-light-gray);
}
/* --Desktop navbar-- */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: var(--font-size-regular);
}
/* --Mobile navbar-- */
#mobile-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  -webkit-tap-highlight-color: transparent; /* Removes blue tap effect on mobile */
}
.menu-links {
  position: absolute;
  top: 150%;
  right: -70%;
  background-color: var(--color-white);
  border: var(--color-light-gray) 0.1rem solid;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.menu-links li {
  list-style: none;
  padding: 15px 20px;
  font-size: var(--font-size-regular);
}
.menu-links li a {
  display: block;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}
.menu-links.open {
  max-height: 320px;
  opacity: 1;
}
/* >>SECTION<< */
section {
  display: flex;
  /* background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(242, 218, 167, 1) 100%); */
}
h1 {
  margin: 1rem 0;
  font-size: var(--font-size-large);
}
h2 {
  color: var(--color-light-gray);
  font-weight: 600;
  font-size: var(--font-size-medium);
  margin-bottom: 2rem;
  text-align: center;
}
.title {
  margin: 12vh 0 3vh 0;
  text-align: center;
}
.title::before {
  display: block;
  text-align: center;
  font-size: var(--font-size-regular);
  font-weight: 300;
  color: var(--color-light-gray); 
}
/* --Section: PROFILE-- */
#profile {
  justify-content: space-around;
}
#profile .flex-wrapper {
  padding-top: 14vh;
  flex-direction: row;
  height: calc(55vh + 25rem);
}
/* Profile text */
#profile .flex-wrapper .text-container {
  flex: 1;
}
.text-1 {
  font-weight: 600;
  color: var(--color-light-gray);
}
.text-1, .text-3 {
  font-size: var(--font-size-medium);
}
.typing {
  font-weight: bold;
}
/* Profile image */
.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex: 1;
}
.profile-background-square {
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-radius: 20px;
  background-color: var(--color-gray)
}
.profile-picture-image {
  display: block;
  z-index: 2;
}
/* Profile Button */
.button-container {
  display: block;
  margin: 2vh 0;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: var(--color-gray) 0.1rem solid;
  background: var(--color-white-2);
}
.btn:hover {
  cursor: pointer;
  background: var(--color-gray);
  color: var(--color-white);
}
/* --Section: ABOUT-- */
#about .title::before {
  content: "Get to know";
}
.column-container {
  display: flex;
  gap: 6rem;
}

/* Left column */
.about-left img{
  height: auto; width: 24rem !important;
  border-radius: 20px;
}
/* Right column */
.about-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-right .details-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  border: var(--color-light-gray) 0.1rem solid;
  border-radius: 20px;
  padding: 1rem 3rem;
}
.about-right .details-container h2 {
  margin-bottom: 1rem;
}
.about-right .details-container img {
  width: 16rem;
}
.about-right .text-container p {
  text-align: justify;
}
/* --Section: SKILLS-- */
#skills .title::before {
  content: "Explore My";
}
.skill-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  border: var(--color-light-gray) 0.1rem solid;
  border-radius: 2rem;
  padding: 2rem;
}
.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-around;
}
.article-container article {
  width: 8rem;
  text-align: center;
}
.article-container article .icon {
  cursor: default;
  height: 2rem;
}
/* --Section: PROJECTS-- */
#projects .title::before {
  content: "Browse My Recent";
}
#project-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
#project-cards-container img {
  border-radius: 2rem;
  width: min-content;
  max-width: 20rem;
  height: auto;
}
.project-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  flex: 0 0 calc(50% - 1rem); 
  gap: 1rem;
  margin: auto;
  border: var(--color-light-gray) 0.1rem solid;
  border-radius: 2rem;
  background: var(--color-white-2);
  padding: 2rem;
}
.project-card .btn {
  width: 12rem;
}
.project-card:last-child {
  flex: 0 0 100%;
}
.project-card:last-child h2 {
  margin-bottom: .5rem;
}
/* --SECTION: CONTACT-- */
#contact .title::before {
  content: "Feel free to";
}
.contact-info-container {
  display: flex;
  border-radius: 2rem;
  border: var(--color-light-gray) 0.1rem solid;
  padding: 1rem;
}
.contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.contact-info a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact-info a p {
  font-size: larger;
  cursor: pointer;
}
.contact-info a i {
  cursor: default;
  width: 2rem;
  font-size: var(--font-size-medium);
  text-align: center;
}
/* FOOTER */
footer {
  display: flex;
  height: 10vh;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
}