@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
body {
  font-family: 'Jost', sans-serif;
  background: #303030
  url("bg.jpg")
  no-repeat center;
  background-size: cover;
  height: 100%;
  color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* HANDPHONE*/
@media (max-width: 800px) {
  *{
    font-size: small; 
  }
  #title {
    font-size: x-large;
  }
  
  #survey-form {
    flex-direction: column;
  }
}

/* CSS */
*{box-sizing: border-box;}
img {
  max-width: 60%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
#title,
#description {
  margin: 5px 20px;
  text-align: center;
  text-shadow: 1px 1px 10px #000;
}
#description {color: #C7A665;}

#survey-form {
	max-width: 80%;
  height: auto;
  margin: auto;
  padding: 1.2em;
  border-radius: 10px;
  background-color: rgb(0,0,0,60%);

  display: flex;
  flex-wrap: wrap;
}

label {
  display: table-row;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.form-input {
  margin: 1.2em;
  flex: 1;
}

input,
#dropdown,
textarea,
#submit {
  border-radius: 5px; padding: 8px;
  border: 2px solid #C7A665;
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 1em; 
}

input[type="radio"] {
  width: 20px;
  accent-color: #C19D53;
}

select {
  padding: 0;
}
textarea {
  min-height: 150px;
  resize: none;
}

#submit {
  color: white;
  background: #C19D53;
}
